################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartLearning
/OrchestrPatterns.Application/bin/Debug/net8.0
/OrchestrPatterns.Application/obj
/OrchestrPatterns.Domain/bin/Debug/net8.0
/OrchestrPatterns.Domain/obj
/OrchestrPatterns.Domain.Tests/bin/Debug/net8.0
/OrchestrPatterns.Domain.Tests/obj
/Orchestrator/OrchestrPatterns.Domain/obj/Debug/net8.0
/Orchestrator/OrchestrPatterns.Application/obj
/Orchestrator/OrchestrPatterns.Domain/obj
/Orchestrator/OrchestrPatterns.Domain.Tests/bin/Debug/net8.0
/Orchestrator/OrchestrPatterns.Domain.Tests/obj
/LlmService/obj
/LlmService/bin/Debug/net8.0
/.vs/ProjectEvaluation
/AuthService/obj
