################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartLearning
/OrchestrPatterns.Application/bin/Debug/net8.0
/OrchestrPatterns.Application/obj
/OrchestrPatterns.Domain/bin/Debug/net8.0
/OrchestrPatterns.Domain/obj
/OrchestrPatterns.Domain.Tests/bin/Debug/net8.0
/OrchestrPatterns.Domain.Tests/obj
/Orchestrator/OrchestrPatterns.Domain/obj/Debug/net8.0
/Orchestrator/OrchestrPatterns.Application/obj
/Orchestrator/OrchestrPatterns.Domain/obj
/Orchestrator/OrchestrPatterns.Domain.Tests/bin/Debug/net8.0
/Orchestrator/OrchestrPatterns.Domain.Tests/obj
/LlmService/obj
/LlmService/bin/Debug/net8.0
/.vs/ProjectEvaluation
/AuthService/obj
/AuthService/bin/Debug/net8.0
/.vs
/MinIoStub/bin/Debug/net8.0
/MinIoStub/obj
/Orchestrator/OrchestrPatterns.Application/bin/Debug/net8.0
/Orchestrator/OrchestrPatterns.Domain/bin/Debug/net8.0
/SmartLearning.Contracts/bin/Debug/net8.0
/SmartLearning.Contracts/obj/Debug/net8.0
/SmartLearning.Contracts/obj
/Gateway/GatewayPatterns.Infrastructure/obj
/CompilerSevice/obj
/Compil/obj
/Compil/bin/Debug/net8.0
/Compil
/CompilerSevice/bin/Debug/net8.0
/ProgressService/obj
/ProgressService/bin/Debug/net8.0
/StorageService/obj
/ObjectStorageService/obj
/ObjectStorageService/bin/Debug/net8.0
/AuthService/bin/Release/net8.0
/CompilerSevice/bin/Release/net8.0
/LlmService/bin/Release/net8.0
/MinIoStub/bin/Release/net8.0
/ObjectStorageService/bin/Release/net8.0
/Orchestrator/OrchestrPatterns.Application/bin/Release/net8.0
/Orchestrator/OrchestrPatterns.Domain/bin/Release/net8.0
/ProgressService/bin/Release/net8.0
/SmartLearning.Contracts/bin/Release/net8.0
/ReflectionService/obj
/ReflectionService/bin/Debug/net8.0
/ReflectionService.Domain/obj
/ReflectionService.Application/bin/Debug/net8.0
/ReflectionService.Application/obj
/ReflectionService/ReflectionService.Application/bin/Debug/net8.0
/ReflectionService/ReflectionService.Application/obj/Debug/net8.0
/ReflectionService/ReflectionService.Application/obj
/ReflectionService/ReflectionService.Domain/obj
/ReflectionService/ReflectionService.Domain/bin/Debug/net8.0
/ReflectionService.Domain.Tests
/StrategyPatternExample/bin/Debug/net8.0
/StrategyPatternExample/obj
/SmartLearning.FilesUtils/obj
*.zip
/PatternForCheckingExamples/StrategyPatternExample/bin/Debug/net8.0
/PatternForCheckingExamples/StrategyPatternExample/obj/Debug/net8.0
/PatternForCheckingExamples/StrategyPatternExample/obj
/SmartLearning.FilesUtils/bin/Debug/net8.0
/PatternService/obj
