version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports: ["5432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 40

  rabbitmq:
    image: rabbitmq:3-management
    ports: ["5672:5672","15672:15672"]
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 3s
      retries: 40

  
  ollama:
    image: ollama/ollama:latest
    ports: ["11434:11434"]
    volumes:
      - ollama:/root/.ollama

  gateway:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: GatewayPatterns/Gateway.csproj            
    environment:
      APP_DLL: Gateway.dll
    depends_on: [users, patterns, llm, orchestrator, progress]
    ports: ["5000:8080"]

  gatewaypatterns:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: GatewayPatterns/GatewayPatterns.csproj
    environment:
      APP_DLL: GatewayPatterns.dll
    depends_on: [users, patterns, llm, orchestrator, progress]
    ports: ["5001:8080"]

  orchestrator:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: Orchestrator/OrchestrPatterns.Application/OrchestrPatterns.Application.csproj
    environment:
      APP_DLL: OrchestrPatterns.Application.dll
    depends_on:
      postgres: { condition: service_healthy }
      rabbitmq: { condition: service_healthy }
    ports: ["6000:8080"]

  users:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: UserService/UserSvcStub.csproj
    environment:
      APP_DLL: UserSvcStub.dll
    depends_on:
      postgres: { condition: service_healthy }
      rabbitmq: { condition: service_healthy }
    ports: ["6001:8080"]

  patterns:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: CompilerSevice/CompilerSevice.csproj   
    environment:
      APP_DLL: CompilerSevice.dll
    depends_on:
      postgres: { condition: service_healthy }
      rabbitmq: { condition: service_healthy }
    ports: ["6002:8080"]

  llm:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: LlmService/LlmService.csproj
    environment:
      APP_DLL: LlmService.dll
    depends_on:
      postgres: { condition: service_healthy }
      rabbitmq: { condition: service_healthy }
      ollama:   { condition: service_started }
    ports: ["6003:8080"]

  progress:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: ProgressService/ProgressService.csproj
    environment:
      APP_DLL: ProgressService.dll
    depends_on:
      postgres: { condition: service_healthy }
    ports: ["6010:8080"]

  auth:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        PROJECT_PATH: AuthService/AuthService.csproj
    environment:
      APP_DLL: AuthService.dll
    depends_on:
      postgres: { condition: service_healthy }
    ports: ["6011:8080"]

volumes:
  pgdata:
  ollama:
