services:
  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web-консоль

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      minio:
        condition: service_started
    environment:
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_ALIAS: local
      MINIO_BUCKET: smartlearning
    volumes:
      - ./docker/init/30-init-minio.sh:/init/30-init-minio.sh:ro
    entrypoint: ["/bin/sh","-c","chmod +x /init/30-init-minio.sh && /init/30-init-minio.sh"]

  object-storage-service:
    build:
      context: .                 # корень репо
      dockerfile: ./Dockerfile   # единый Dockerfile для всех сервисов
      args:
        PROJECT_PATH: SmartLearning/ObjectStorageService/ObjectStorageService.csproj
        DLL_NAME: ObjectStorageService.dll
        CONFIGURATION: Release
    container_name: object-storage-service
    environment:
      ASPNETCORE_URLS: http://+:8080
      ASPNETCORE_ENVIRONMENT: Docker
      # Можно убрать блок Storage__* и держать их в appsettings.Docker.json.
      Storage__Endpoint: http://minio:9000
      Storage__AccessKey: minioadmin
      Storage__SecretKey: minioadmin
      Storage__Bucket: smartlearning
    depends_on:
      minio:
        condition: service_started
      minio-init:
        condition: service_completed_successfully
    ports:
      - "6005:8080"

volumes:
  minio_data:
